.mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.mat-card {
  align-items: center;
}

.mat-card-actions {
  align-items: center;
  justify-content: center;
  display: flex;
}


.mat-dialog-content {
  height: 100%;
}
