<mat-card mat-dialog-content>
  <form >
    <mat-card-title>Add New Participant</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="data.status" name="status">
          <mat-option *ngFor="let status of this.appointmentService.participantStatusOptions" value="status"> {{status | titlecase}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Actor</mat-label>
        <mat-select [(ngModel)]="data.actor" name="actor">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let actor of this.appointmentService.participantActorOptions" value="actor"> {{actor | titlecase}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Necessity</mat-label>
        <mat-select [(ngModel)]="data.required" name="required">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let required of this.appointmentService.participantRequiredOptions" value="required"> {{required | titlecase}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [mat-dialog-close]="data">Submit</button>
      <button mat-raised-button (click)="onNoClick()">Back</button>
    </mat-card-actions>
  </form>
</mat-card>

