<table mat-table [dataSource]="appointmentList" class="mat-elevation-z8">
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.status | titlecase}} </td>
  </ng-container>

  <ng-container matColumnDef="appointmentType">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.appointmentType | titlecase}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> Priority </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.priority}} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.start.toDate() | date: 'YYYY.MM.dd HH:mm' }} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.duration}} mins</td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let appointment">
      <button mat-icon-button>
        <mat-icon [routerLink]="['/edit', appointment.id]">more_vert</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon (click)="delete(appointment)">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
